.backgroundWhite {
  background-color: #fff;
}
.backgroundBlack {
  background-color: #161616;
}
.icon {
  transition: 0.3s all;
}
.icon:hover {
  height: 65px;
}
.icon-project {
  margin-top: 0.3em;
  width: 35px;
  height: 35px;
}

.mode-tog {
  transition: all 3s;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDarkMode {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
}
/* 
.dark-mode {
  position: relative;
  transform: scale(0);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 450vw;
  height: 450vw;
  border-radius: 50%;
  background-color: #161616;
  transition: 1s ease-in-out;
  display: flex;
  flex: 0 0 auto;
}
.dark-mode.active {
  transform: scale(1);
  z-index: -1;
  transition: 1s ease-in-out;
} */
@media screen and (max-width: 700px) {
  /* #root {
    overflow-x: hidden;
  }
  .dark-mode {
    width: 150vh;
    height: 1050vh;
  } */
  .specialWordWhite::before {
    top: 8%;
  }
  .content {
    margin: 2em 0.2em 0 0.2em;
  }
}
@media screen and (max-width: 300px) {
  .allContactLinks {
    flex-wrap: wrap;
  }
  .content {
    font-size: 40px;
    margin: 0;
    margin-top: 50px;
    height: 100vh;
  }
}

@media screen and (min-width: 1600px) {
  .content {
    margin-top: 3em;
  }
}
@media screen and (max-width: 280px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
